"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "Inconsolata-g for Powerline"
    fontSize: 12
  "exception-reporting":
    userId: "491d0f4a-41b2-4daf-8a22-a915eee1eeef"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "platformio-ide-terminal":
    style:
      theme: "solarized-dark"
  welcome:
    showOnStartup: false
